.selectlist {
  font-size: 20px;
  margin-top: 3px;
}

.tiptap {
  padding: 10px;
  background-color: black;
  color: white;
}

.tiptap:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
/* background-color: black;
  color: white;
} */

