select {
  border: none;
  min-width: 150px;
  text-align-last:center;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
  border-bottom: 0.5px solid black;
}

.link:hover {
  background-color: aqua;
}

.active {
  background-color: aqua;
}
