.task-container {
  display: flex;
  justify-content: center;
  padding-right: 1px;
  background-color: rgb(179, 172, 172);
  margin-bottom: 3px;
  min-height: 80px;
  text-align: center;
  align-items: center;
}

.task-icons {
  display: none;
}

.task-text {
  padding-left: 3px;
  padding-right: 3px;
}

.task-container:hover .task-icons {
  display: flex;
  padding: 5px;
}

.task-container:hover .task-text {
  display: none;
}

.tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 8px;
  margin: 25px;
  position: absolute;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn {
  margin-right: 5px;
  position: relative;
  display: inline-block;
}

.btn:hover .tooltiptext {
  visibility: visible;
}

.del {
  display: flex;
  justify-content: "flex-end";
  width: 100%;
  margin-right: 5rem;
  flex-direction: row-reverse;
}

.assigenedto {
  display: flex;
  background-color: white;
  position: relative;
  top: 10px;
  left: 100px;
  margin: 3px;
  min-width: 6rem;
  justify-content: center;
}

.LOW {
  background-color: rgb(75, 232, 80);
}

.MEDIUM {
  background-color: yellow;
}

.HIGH {
  background-color: rgb(232, 75, 75);
}
