.loading{
    color: white;
    animation: spin 1s infinite linear;
    position: relative;
    top:3px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}